
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News Central</title>
  <link rel="stylesheet" href="../nav-bar/nav-bar.component.css">
</head>

 <nav class="NavBar">
        <button><a href="#">Home</a></button>
        <button><a href="">Top Picks</a></button>
        <button><a href="">About</a></button>
        <form class="Search" role="search">
            <input class="box" type="search" placeholder="Search" aria-label="Search">
            <button  type="submit">Search</button>
        </form>
        <button><a href="">Logout</a></button>
 </nav>
    
