<div class="container my-3">
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-dark">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Technology</strong>
            <h5 class="mb-0 text-danger">The Power Of Technology</h5>
            <div class="mb-1 text-muted">Nov 12</div>
            <p class="card-text mb-auto text-light">Technology has revolutionized the way we live, work, and play. It has made life easier and more efficient.</p>
            <p class="card-text mb-auto text-light author author"><strong>-James Carrey</strong></p>
            <a href="#" class="stretched-link"><button class="btn btn-sm btn-danger mt-2">Continue reading</button></a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img height="100%" width="200" src="assets/image1.jpg" alt="Technology">
          </div>
        </div>
      </div>
      <div class="col-md-6 right-separate">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-dark">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Design</strong>
            <h5 class="mb-0 text-danger">Role of Design in Solving</h5>
            <div class="mb-1 text-muted">Nov 11</div>
            <p class="mb-auto text-light">Design involves developing creative solutions to problems through visual communication and problem solving.
            </p>
            <p class="card-text mb-auto text-light author"><strong>-Vasnev Ludomir</strong></p>
            <a href="#" class="stretched-link"><button class="btn btn-sm btn-danger mt-2">Continue reading</button></a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img height="100%" width="200" src="assets/image2.jpg" alt="Design">
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-dark" style="height:90%;">
          <div class="col p-4 d-flex flex-column position-static" style="height:100%;">
            <strong class="d-inline-block mb-2 text-primary">Programming</strong>
            <h5 class="mb-0 text-danger">Survival of the Fittest</h5>
            <div class="mb-1 text-muted">Nov 12</div>
            <p class="card-text mb-auto text-light separate">It is very much essential to equip overselves with the latest programming skills to survive in the job market.</p>
            <p class="card-text mb-auto text-light author"><strong>-Crosby Sawyer</strong></p>
            <a href="#" class="stretched-link"><button class="btn btn-sm btn-danger mt-2">Continue reading</button></a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img height="100%" width="200" src="assets/image3.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6 right-separate">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-dark">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Discoveries</strong>
            <h5 class="mb-0 text-danger">Exploring the Infinity</h5>
            <div class="mb-1 text-muted">Nov 11</div>
            <p class="mb-auto text-light">
              The last decade has seen new discoveries in interstellar space, from strange stars and planets and beyond.
            </p>
            <p class="card-text mb-auto text-light author"><strong>-Émile Loupe</strong></p>
            <a href="#" class="stretched-link"><button class="btn btn-sm btn-danger mt-2">Continue reading</button></a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img height="100%" width="200" src="assets/image4.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>