<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Central</title>
    <link rel="stylesheet" href="../nav-bar/nav-bar.component.css">
  </head>
  
    <nav class="NavBar"> 
  
     <div class="NavLeft">                   <!-- The left side of the NavBar -->
  
       <button><a href="#">Home</a></button>
       <button><a href="">Top Picks</a></button>
       <div class="dropdown">
        <button>Genres</button>
        <div class="dropdown-options">
          <a href="">Category1</a>
          <a href="">Category2</a>
          <a href="">Category3</a>
          <a href="">Category4</a>
        </div>
       </div>
       <button><a href="">About</a></button>
      
     </div>
  
      <form class="NavMid" role="search">    <!-- The middle section of the NavBar -->
  
        <input class="searchbox" type="search" placeholder="Search" aria-label="Search">
        <button  type="submit">Search</button>
  
      </form>
  
       <div class="NavRight">                <!-- The right side of the Navbar  -->
        
        <button><a href="">Logout</a></button>       
        
      </div>
       
   </nav>